.movies-grid {
  display: flex;
  margin: 15px;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.movie-card {
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
  margin: 10px auto; /* Centrar tarjeta */
  width: 300px; /* Ajusta este valor según el diseño de tu sitio */
  transition: transform 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
  text-align: center;
}

.img-movie {
  width: 100%;
  height: 400px; /* Ajusta según necesidad */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-movie img {
  max-width: 100%; /* Asegura que la imagen no se salga del contenedor */
  max-height: 100%;
  object-fit: cover; /* Ajusta la imagen para cubrir el espacio disponible */
  transition: transform 0.3s ease;
}
